<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mvit.mihajlo.jelovnik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Declares 1st (main) activity. Action "MAIN" and category "LAUNCHER" properties
       makes it visible in the application launcher -->
        <activity
            android:name=".activities.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Declares SettingsActivity (the activity used to set app preferences). -->
        <activity
            android:name=".activities.SettingsActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/activity_settings_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity">

        </activity>

    </application>

</manifest>
